streamlit
rich==15.0.0
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.20.0
setuptools
numpy
Pillow
moviepy
opencv-python-headless
torch
torchvision
torchaudio
basicsr
gfpgan
realesrgan
rembg
streamlit-image-comparison
future
ffmpeg-python
