# Core
streamlit
setuptools
numpy
Pillow
moviepy
opencv-python-headless

# ML / AI
torch
torchvision
torchaudio
basicsr
gfpgan
realesrgan
rembg

# UI / Helpers
streamlit-image-comparison
future
ffmpeg-python
