--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
rich==15.0.0
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.20.0
setuptools
numpy<2.0.0
Pillow
moviepy
opencv-python-headless
torch
torchvision
git+https://github.com/XPixelGroup/BasicSR.git
gfpgan
realesrgan
rembg
streamlit-image-comparison
future
